# ---------- Python ----------
.venv/
__pycache__/
*.pyc

# ---------- Environment ----------
.env

# ---------- React ----------
frontend/node_modules/
frontend/dist/
node_modules/
frontend/structure.txt

# ---------- IDE ----------
.vscode/
.idea/

# ---------- OS ----------
.DS_Store
Thumbs.db

*.log
backend/.venv/
backend/logs/
