.section{

    margin-top:70px;

}

.daySection{

    margin-bottom:70px;

}

.daySection h2{

    margin-bottom:25px;

    color:#0F172A;

}

.grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

    gap:25px;

}