.section{

    margin-top:70px;
}

.section h2{

    margin-bottom:30px;

    color:#0F172A;
}

.grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

    gap:25px;
}